.deco-border:before {
  content: "";
  display: block;
  margin: 40px auto;
  width: 33vw;
  height: 3px;
  background: #000;
}

.deco-border:after {
  content: "";
  display: block;
  margin: 40px auto;
  width: 33vw;
  height: 3px;
  background: #000;
}

.rounded {
  border-radius: 12px !important;
}

@media only screen and (min-width: 992px) {
  .shadow {
    padding: 3px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  }
}

@media only screen and (min-width: 992px) {
  .shadow-lg {
    padding: 3px 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
  }
}